@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: local("IranSans"),
    url(../public/assets/fonts/iran-sans-400.woff2) format("woff2");
  width: 400;
}

